* {
    margin: 0px auto; 
    padding: 0;
    font-family: Lato;
    max-width: 1600px;
}

   
.header {
    height: 100%;
    background-color: #222222;
    padding: 19px 0;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.centr{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  justify-content: center; 
}

.left{
    margin: 0;
    width: auto;
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.right{
    margin: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

.header__logo {
margin-right: 41px;
text-decoration: none;
}

.header__nav {
    margin-right: 33px;
    text-decoration: none;
 }

 .block1 {
    height: 764px;
    display: flex;
	flex-direction: row;
    background-color: #F1E4E6;
    margin-bottom: 50px;
    justify-content: space-between;
    background-image: url(img/bgman.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size:auto;
 }
 
 .block1__wrap {
    display: flex;
    height: 100%;
    width: 50%;
    align-items: center;
}

.block1__text {
 max-width: 397px;
font-weight: 900;
font-size: 48px;
color: #222222;
padding-left: 20px;
border-left: 12px solid #F16D7F;
margin-left: 60px;
line-height: 28px;
}

.block1__text span {
    font-size: 32px;
   font-weight: 700;
    }
.block1__text span span{
    font-size: 37px;
   color: #F16D7F;
   }

   .block2 {
    height: 100%;
    display: flex;
	flex-direction: column; 
	align-items: baseline;
   }

   .block2__line {
    display: flex;
	flex-direction:row;
    justify-content: space-between;
	align-items: baseline;
	align-content: center;
   }
   
  
  .block2__sale {
      display: flex;
      margin: 15px;
      width: 360px;
      height: 260px;
      text-align: center;
      align-items: center;
    justify-content: center; 
    background-blend-mode: multiply;
    background-color: rgba(31, 15, 15, 0.6); 
  }

  .block2__sale2 {
    display: flex;
    margin-top: 15px;
    width: 1140px;
    height: 180px;
    text-align: center;
    align-items: center;
  justify-content: center; 
  background-blend-mode: multiply;
  background-color: rgba(31, 15, 15, 0.6); 
  margin-bottom: 96px;
}
  .block2__sale img{
    width: 100%;
    height: 100%;
    opacity: 60%;
}
  .block2__sale:first-child {
    margin-left: 0px;
  }
  .block2__sale:last-child {
    margin-right: 0px;
  }

  .block2__sale__text {
      color: #FFFFFF;;
      display: flex;
      text-align: center;
      align-items: center;
    justify-content: center;
    flex-direction: column; 
  }
  .block2__sale__text span {
    font-weight: 400;
    font-size: 16x;
    line-height: 19px;
}
  .block2__sale__text h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
     color: #F16D7F;
  }
 .container h3 {
    font-weight: 400; 
    font-size: 30px;
    line-height: 36px;
 }
 .container p {
    font-weight: 400; 
    size: 14px;
    line-height: 17px;
    color: rgba(159, 159, 159, 1);
    margin-bottom: 18px;
 }
 .block3 {
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .block3 h4{
     margin: 25px 29px 12px 18px;
     font-weight: 400;
    Size: 13px;
    Line-height: 16px;
 }
 .block3 p{
    margin-left: 18px;
    margin-right: 29px;
    margin-bottom: 0;
    text-align: left;    
    font-weight: 300;
    font-size: 14px;
    Line-height: 17px;
    max-height: 51px;
}

.block3 span{
    margin: 18px 29px 20px 18px;   
    font-weight: 400;
    font-size: 16px;
    Line-height: 19px;
    color: rgba(241, 109, 127, 1);
}

 .block3__sale {
    width: 360px;
    height: 581px;
    background-color: rgba(248, 248, 248, 1);
    display: flex;
	flex-direction: column; 
	align-items: baseline;
    margin: 15px;
 }

 .block3__sale:first-child {
    margin-left: 0px;
  }
  .block3__sale:last-child {
    margin-right: 0px;
  }
  .block3__button {
      margin-top: 43px;
      margin-bottom: 95px;
      font-weight: 400;
      Size: 16px;
      Line-height: 19px;
      color: rgba(241, 109, 127, 1);
      
  }
  .block3__button span {
  border: rgba(241, 109, 127, 1) solid 1px;
  padding: 14px 38px;
  }

.info{
    height: 341px;
    background-color: rgba(34, 34, 36, 1);
    display: flex;
  	flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
    text-align: center;
}
.info h3 {
  color: rgba(251, 251, 251, 1);
  margin: 16px;
}
.info p {
  max-width: 360px;
  font-size: 14px;
  Line-height: 17px;
}
.subscribe{
    height: 448px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.6); 
    display: flex;
  	flex-direction: row;
	  justify-content: space-between;
	  align-items: center;
    text-align: center;
}
.subscribe img {
 padding: 15px;
}
.subscribe p {
  max-width: 360px;
  font-weight: 400;
  font-size: 20px;
  Line-height: 24px;
  padding: 15px;
}
.subscribe h3 {
  font-weight: bold;
font-size: 24px;
line-height: 30px;
}
.subscribe span {
  font-weight: 400;
font-size: 18px;
line-height: 30px;
}

.subsform {
  margin-top: 32px;
}
.inputform {
  background: #E1E1E1;
  height: 49px;
  width: 256px;
  border: 0px;
  outline:none;
  margin-right: -5px;
  padding-left: 22px;
  border-radius: 25px 0 0 25px;
}
.send {
height: 49px;
width: 100px;
border: 0px;
background: rgba(241, 109, 127, 1);
border-radius: 0 25px 25px 0;
padding: 7px;
color: rgba(255, 255, 255, 1);
}

.copyright {
  height: 79px;
  background-color: rgba(34, 34, 36, 1);
  display: flex;
  align-items: center;
  text-align: left;
  color:  rgba(251, 251, 251, 1);
}
