* {
    margin: 0; 
    padding: 0;  
} 
body {
  font-family: 'Lato', sans-serif;
  background: #FFFFFF;
}
.header {
    background-color: #222222;
    padding: 19px 0;
}
.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 41px;
  text-decoration: none;
}
.header__nav {
  margin-right: 33px;
  text-decoration: none;
}
 .rel{
  position: relative;
}
 .header__nav:last-child{
  margin-right: 0;
}
 .count {
  position: absolute;
  display: flex;
  right: -10px;
  top: -20px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  width: 20px;
  height: 20px;
  background: #F16D7F;
  border-radius: 50%;
}
 .intro {
  height: 764px;
  background-color: #F1E4E6;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .intro__wrap {
  margin-left:90px;
  text-align: left;
  position: relative;
}
.intro__wrap img {
  position: absolute;
  left:-315px;
  top: -382px;
}
.intro__text {
  max-width: 397px;
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  padding-left: 20px;
  border-left: 12px solid #F16D7F;
  line-height: 28px;
}
.intro__text span {
  font-size: 32px;
  font-weight: 700;
}
.intro__text span span{
  font-size: 37px;
  color: #F16D7F;
}
.stock{
  margin-bottom: 96px;
}
  .stock__sale {
      display: flex;
      margin: 15px 0;
      width: 360px;
      height: 260px;
      text-align: center;
      align-items: center;
    justify-content: center; 
    background-blend-mode: multiply;
    background-color: rgba(31, 15, 15, 0.6); 
}
  .stock__sale2 {
    display: flex;
    margin-top: 15px;
    width: 100%;
    height: 180px;
    text-align: center;
    align-items: center;
  justify-content: center; 
  background-blend-mode: multiply;
  background-color: rgba(31, 15, 15, 0.6); 
}
  .stock__sale__text {
      color: #FFFFFF;;
      display: flex;
      text-align: center;
      align-items: center;
    justify-content: center;
    flex-direction: column; 
}
  .stock__sale__text span {
    font-weight: 400;
    font-size: 16x;
    line-height: 19px;
}
  .stock__sale__text h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
     color: #F16D7F;
}
.centr{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
justify-content: center; 
}
.container h3 {
  font-weight: 400; 
  font-size: 30px;
  line-height: 36px;
}
.container p {
  font-weight: 400; 
  size: 14px;
  line-height: 17px;
  color: rgba(159, 159, 159, 1);
  margin-bottom: 18px;
}

.products_block h4{
   margin: 25px 29px 12px 18px;
   font-weight: 400;
  Size: 13px;
  Line-height: 16px;
}
.products_block p{
  margin-left: 18px;
  margin-right: 29px;
  margin-bottom: 0;
  text-align: left;    
  font-weight: 300;
  font-size: 14px;
  Line-height: 17px;
  max-height: 51px;
}

.products_block span{
  margin: 18px 29px 20px 18px;   
  font-weight: 400;
  font-size: 16px;
  Line-height: 19px;
  color: rgba(241, 109, 127, 1);
}

.products_block {
  width: 360px;
  height: 581px;
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  flex-direction: column; 
  align-items: baseline;
  margin-bottom: 30px;
}

.products__button {
    margin-top: 43px;
    margin-bottom: 95px;
    font-weight: 400;
    Size: 16px;
    Line-height: 19px;
    color: rgba(241, 109, 127, 1);
    
}
.products__button span {
border: rgba(241, 109, 127, 1) solid 1px;
padding: 14px 38px;
}
.info{
  height: 341px;
  background-color: rgba(34, 34, 36, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.info h3 {
color: rgba(251, 251, 251, 1);
margin: 16px;
}
.info p {
max-width: 360px;
font-size: 14px;
Line-height: 17px;
}
.subscribe{
  height: 448px;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.6); 
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.subscribe img {
padding: 15px;
}
.subscribe h4 {
max-width: 360px;
font-weight: 400;
font-size: 20px;
Line-height: 24px;
padding: 15px;
}
.subscribe h3 {
font-weight: bold;
font-size: 24px;
line-height: 30px;
}
.subscribe span {
font-weight: 400;
font-size: 18px;
line-height: 30px;
}

.subsform {
margin-top: 32px;
}
.inputform {
background: #E1E1E1;
height: 49px;
width: 256px;
border: 0px;
outline:none;
margin-right: -5px;
padding-left: 22px;
border-radius: 25px 0 0 25px;
}
.send {
height: 49px;
width: 100px;
border: 0px;
background: rgba(241, 109, 127, 1);
border-radius: 0 25px 25px 0;
padding: 7px;
color: rgba(255, 255, 255, 1);
}

.copyright {
height: 79px;
background-color: rgba(34, 34, 36, 1);
display: flex;
align-items: center;
text-align: left;
color:  rgba(251, 251, 251, 1);
}

.products__button a {
  text-decoration: none;
  color: rgba(241, 109, 127, 1);
}

.catalog__nav{
  height: 148px;
  background-color: #F8F3F4;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
}

h1 {
font-size: 24px;
font-weight: 400;
line-height: 29px;
color: #F16D7F;
}

.catalog__nav h3 {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #636363;
}
.catalog__nav span {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: #F16D7F;
}
.filtr__block {
  width: 360px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
} 

.filtr__block p {
  color: #6F6E6E;
  margin: 0;
  padding: 0;
  }

.filtr .container {
  justify-content: space-between;
  margin-bottom: 65px;
}

.filtr__block {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.filtr__block details > summary::-webkit-details-marker {
  display: none;
}
.filtr__block details > summary {
list-style: none;
font-size: 14px;
  padding-right: 11px;
  font-weight: 600;
}
.filtr__block details[open] > summary {
  color: #F16D7F;
  margin-bottom: 24px;
}

.filtr__block details[open] {
width: 360px;
border-radius: 0px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
padding:17px 12px;
top: -15px;
background-color: #FFFFFF;
}

.absolute {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.smalllist {
  position: relative;
}
.smalllist details[open]{
  box-shadow: none;
  width:100%;
  padding: 0; 
}

.smalllist details > summary {
font-size: 14px;
font-weight: 400;
line-height: 17px;
border-left: 5px solid #F16D7F;
padding: 11px;
border-bottom: 1px solid #EBEBEB;
margin-bottom: 18px;
height: 100%;
}

.menu img{
  margin-right: 28px;
}

 .menu{
  display: flex; 
  flex-direction: row; 
  align-items: baseline;
  position: relative;
 }

 .menu details[open] {
  width: 79px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.178);
  top: 0;
  position: relative;
 }
 
 .menu > details > summary{
  font-weight: 400;
  color: #6F6E6E;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
 }
 .menu p{
 padding-right: 10px;
 }
 .copyright img:active {
   background-color: #F16D7F;
 }
.absolute span{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  padding-left: 13px;
  padding-bottom: 11px;
}

.pagination {
  display: inline-block;
  margin-bottom: 96px;
  margin-top: 33px;
}

.pagination a {
  color: rgb(155, 149, 149);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
    color: #f16d7f; 
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.Prod_list{
  width: 100%;
  height: 777px;
  background-color: rgba(247, 247, 247, 1);
  margin-top: -35px;
  border: rgba(234, 234, 234, 1) solid 1px;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__item {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.btn__slider{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
height: 47px;
width: 47px;
}

  .prv_b:hover, .nxt_b:hover, .btn__slider:hover{
    opacity:.6;}
  
.slider{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  position: relative;
  transition: 0.5s;
}

.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  width: auto;
  background-color: rgba(58, 56, 56, 0.83);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.5s;
}

.item:hover .overlay {
  opacity: 1;
}

.item-img {
  width: 360px;
  height: 420px;
  background-color: #e9e9e9;
}

.to_card__btn {
  font-weight: 400;
  Size: 16px;
  Line-height: 19px;
  color: rgba(255, 255, 255, 1);
  border: rgba(255, 255, 255, 1) solid 1px;
  padding: 14px 38px;
}

.to_card__btn a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.woman__coll {
  height: 600px;
  border: rgba(234, 234, 234, 1) solid 1px;
  margin-top: -65px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 130px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hr_wom1{
border: rgba(239, 91, 112, 1) solid 3px;
width: 63px;
margin: 12px auto;
}
.hr_wom2{
  width: 504px;
  border: rgba(234, 234, 234, 1) solid 1px; 
  margin: 65px auto;
}
.woman__coll p {
  max-width: 555px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: rgba(94, 94, 94, 1);
}

.woman__coll h4 {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: rgba(241, 109, 127, 1);
}

.woman__coll h3 {
font-size: 18px;
line-height: 22px;
color: rgba(77, 77, 77, 1);

}
.woman__coll h2 {
font-size: 24px;
font-weight: 300;
line-height: 29px;
color: rgba(241, 109, 127, 1);
}

